@font-face {
	src: url('/fonts/AlfaSlabOne-Regular.woff2') format('woff2');
	font-family: 'AlfaSlabOne';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Work-Sans-Regular.woff2') format('woff2');
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Work-Sans-300.woff2') format('woff2');
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Work-Sans-500.woff2') format('woff2');
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Work-Sans-600.woff2') format('woff2');
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
